@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111927;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(212.37, 72%, 59%) 0, transparent 55%);
}

.card {
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(173, 203, 235, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}